<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="css/styleIndex.css">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<div class="grid-container">
		<div class="grid-row">
			<div class="grid-column-image">
				<div class="coverimg"></div>
			</div>
			<div class="grid-column-form">
				<!-- <div class="ladyimg"></div> -->
				<img class="ladyimg" src="images/ladyhead.png">
				<h2 class="welcome-label"> START VIBING </h2>
				<div class="googlebuttonholder" style="margin: auto; text-align: center;">
					<a href="https://www.google.com">place google signin button here (ill add css later)</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>