<html>
<head>
    <title>Event</title>
</head>
<body>
    <h1>{{event.title}}</h1>
    description: {{event.description}}
    <br>
    <br>
    venue: {{event.venue}}<br>
    date: {{event.date}}<br>
    from: {{event.startTime}} to {{event.endTime}}<br>

    {% load embed_video_tags %}

    {% video event.video as my_video %}
      Backend: {{ my_video.backend }}
      {% video my_video '800x600' %}
    {% endvideo %}

    <br> <hr> <br>
    <a href="{% url 'Home' %}">Home</a>
    <a href="{% url 'logout' %}">Sign Out</a>
</body>
</html>