<html>
<head>
    <title>Dash</title>
</head>
<body>
    <h1> Artist </h1>
    Welcome, {{user.name}}!
    <br>
    {{user.about_text}}<br>
    <a href="https://{{user.about_link}}">{{user.about_link}}</a><br>
    <form action="search.html"method="POST">
        {% csrf_token %}
        <input type="text" name="q" placeholder="Search ..."><br/><input type="submit" value="submit">
    </form>
    <br> <hr> <br>
    <a href="{% url 'logout' %}">Sign Out</a>
    <a href="{% url 'artist-settings' %}">Settings</a>
</body>
</html>