<html>
<head>
    <title>Settings</title>
</head>
<body>
    <h1> Artist </h1>
    Welcome, {{user.name}}!
    <br>
    <a href="{% url 'change-name' %}">Change Name</a> <br>
    <a href="{% url 'change-bio' %}">Change Bio</a> <br>
    <a href="{% url 'change-city' %}">Change city</a> <br>
    <a href="{% url 'change-gender' %}">Change Gender</a> <br>
<!--    Could add: privacy settings regarding comments, likes, tagging etc-->
    <hr> <br>
    <a href="{% url 'logout' %}">Sign Out</a>
    <a href="{% url 'Home' %}">Back</a>
</body>
</html>